# This file contains common pin mappings for the BIGTREETECH EBBCan
# Canbus board. To use this config, the firmware should be compiled for the
# STM32G0B1 with "8 MHz crystal" and "USB (on PA11/PA12)" or "CAN bus (on PB0/PB1)".
# The "EBB Can" micro-controller will be used to control the components on the nozzle.

# See docs/Config_Reference.md for a description of parameters.

[mcu EBBCan]
#serial: /dev/serial/by-id/usb-Klipper_Klipper_firmware_12345-if00
canbus_uuid: 6a41b3caffa9 
[adxl345]
cs_pin: EBBCan: PB12
spi_software_sclk_pin: EBBCan: PB10
spi_software_mosi_pin: EBBCan: PB11
spi_software_miso_pin: EBBCan: PB2
axes_map: x,y,z

[resonance_tester]
accel_chip: adxl345
accel_per_hz: 75  # default is 75
probe_points: 175,175,100

[extruder]
step_pin: EBBCan: PD0
dir_pin: EBBCan: PD1
enable_pin: !EBBCan: PD2
microsteps: 16
full_steps_per_rotation: 200
rotation_distance: 4.637
nozzle_diameter: 0.4
filament_diameter: 1.750
heater_pin: EBBCan: PB13
max_extrude_cross_section: 5
max_extrude_only_distance: 500
max_extrude_only_velocity: 120
#max_extrude_only_distance: 1000
#max_extrude_only_velocity:120
#pt1000 2 wire
#sensor_type:MAX31865
#sensor_pin: EBBCan: PA15
#spi_bus: spi1a
#rtd_nominal_r: 100
#rtd_reference_r: 430
#rtd_num_of_wires: 2
min_temp: 0
max_temp: 300
sensor_type: PT1000
sensor_pin: EBBCan: PA3
#control: pid
#pid_Kp: 23.464
#pid_Ki: 1.664
#pid_Kd: 82.711
#polyliteblack .6 cht
#pressure_advance: .0485
#polylite ppla pro
#pressure_advance: .056
#amolen r/b silk
#HATCHBOX WHITEABS
#pressure_advance: .022
# sensor_type:MAX31865
# sensor_pin: EBBCan: PA4
# spi_bus: spi1
# rtd_nominal_r: 100
# rtd_reference_r: 430
# rtd_num_of_wires: 2

[tmc2209 extruder]
uart_pin: EBBCan: PA15
run_current: 0.85
stealthchop_threshold: 0
sense_resistor: 0.11 
driver_TBL: 0
driver_HEND: 6
driver_HSTRT: 7
driver_TOFF: 4


[fan]
pin: EBBCan: PA1

[heater_fan hotend_fan]
pin: EBBCan: PA0
heater: extruder
heater_temp: 50.0
max_power: 1.0
fan_speed: 1


[probe]
pin: !EBBCan: PB6
x_offset: 0
y_offset: 0
#z_offset: 2.502
speed:5
samples: 3
samples_result: median
sample_retract_dist: 1.5
samples_tolerance: 0.006
samples_tolerance_retries: 5

activate_gcode:
    {% set PROBE_TEMP = 150 %}
    {% set MAX_TEMP = PROBE_TEMP + 5 %}
    {% set ACTUAL_TEMP = printer.extruder.temperature %}
    {% set TARGET_TEMP = printer.extruder.target %}

    {% if TARGET_TEMP > PROBE_TEMP %}
        { action_respond_info('Extruder temperature target of %.1fC is too high, lowering to %.1fC' % (TARGET_TEMP, PROBE_TEMP)) }
        M109 S{ PROBE_TEMP }
    {% else %}
        # Temperature target is already low enough, but nozzle may still be too hot.
        {% if ACTUAL_TEMP > MAX_TEMP %}
            { action_respond_info('Extruder temperature %.1fC is still too high, waiting until below %.1fC' % (ACTUAL_TEMP, MAX_TEMP)) }
            TEMPERATURE_WAIT SENSOR=extruder MAXIMUM={ MAX_TEMP }
        {% endif %}
    {% endif %}

[include stealthburner.cfg]